<div class="jumbotron center">
	<h1><b>indi</b>.io</h1>
	<h2>Where indies get published.</h2>
	<p>Coming soon.</p>
	<% if user_signed_in? %>
          Welcome back!
    <% else %>
	
	<%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-lg" %>
	<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary btn-lg" %>
	<% end %>
</div>